.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %list;
}

.clients-list__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  fill: var(--primary-icon-color);

  @extend %link;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
}

.clients-list__logo {
  width: 106px;
  height: 60px;
}
