.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg-hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--secondary-bg-color);
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 700px;

  @include font(900, 44px, 1.36);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero__button {
  padding: 10px 32px;
  min-width: 216px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include font(700, 16px, 1.88);
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus {
    background-color: var(--secondary-accent-color);
  }
}
