.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--address-color);
  background-color: var(--secondary-bg-color);
}

.footer-form__button {
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;

  @include font(700, 16px, 1.88);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  &:hover,
  &:focus {
    background-color: var(--secondary-accent-color);
  }
}

.footer-form__mark {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
