.communication {
  margin-right: 70px;
}
.communication-list {
  @extend %list;
}

.communication-list__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.communication-list__adress {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @extend %link;
}

.communication-list__mail {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--address-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @extend %link;
}

.communication-list__tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--address-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @extend %link;
}
