.current {
  color: var(--accent-color);

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;

    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
