.header {
  border-bottom: 1px solid var(--border-header-color);
}

/* main-nav */
.main-nav,
.navigation {
  // display: flex;
  // align-items: center;
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
  @extend %list;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* site nav link*/
%nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link {
  @extend %nav;
  @extend %link;

  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__item {
  position: relative;
}

/* auth nav */
.auth-nav {
  @extend %list;
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* auth nav svg */
.auth-nav__link {
  // display: block;
  @extend %nav;
  @extend %link;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
