.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %list;
}

.social-list__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  fill: var(--primary-icon-color);

  @extend %link;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
}
