.team-section {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  color: var(--primary-text-color);
  @extend %list;
}

.team-list__icon {
  width: 270px;
  margin-right: var(--card-set-gap);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--primary-bg-color);

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team-list__icon-border {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;
 
  @include font(500, 16px, 1.19);

  color: var(--title-text-color);
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
